In [1]:
import pandas as pd

data = {
    "district": ["Central", "North", "East", "South", "Central", "East", "South"],
    "pm25": [42, 35, 50, 28, 40, 52, 33],
    "population": [120000, 90000, 150000, 80000, 125000, 150000, 85000]
}

df = pd.DataFrame(data)
df

  district  pm25  population
0  Central    42      120000
1    North    35       90000
2     East    50      150000
3    South    28       80000
4  Central    40      125000
5     East    52      150000
6    South    33       85000

In [2]:
df.groupby("district")

In [3]:
df.groupby("district")["pm25"].mean()

district
Central    41.0
East       51.0
North      35.0
South      30.5
Name: pm25, dtype: float64

In [4]:
df.groupby("district").agg({
    "pm25": ["mean", "max", "min"],
    "population": "mean"
})

          pm25         population
          mean max min       mean
district
Central   41.0  42  40   122500.0
East      51.0  52  50   150000.0
North     35.0  35  35    90000.0
South     30.5  33  28    82500.0

In [5]:
high_pm25 = df[df["pm25"] > 40]
high_pm25.groupby("district")["pm25"].mean()

district
Central    42.0
East       51.0
Name: pm25, dtype: float64

In [6]:
df["district"].value_counts()

district
Central    2
East       2
South      2
North      1
Name: count, dtype: int64

In [7]:
df.groupby("district")["pm25"].mean().sort_values(ascending=False)

district
East       51.0
Central    41.0
North      35.0
South      30.5
Name: pm25, dtype: float64

In [8]:
summary = df.groupby("district").agg({
    "pm25": ["mean", "max", "min"],
    "population": "mean"
})

summary.to_csv("district_summary.csv")
summary

          pm25         population
          mean max min       mean
district
Central   41.0  42  40   122500.0
East      51.0  52  50   150000.0
North     35.0  35  35    90000.0
South     30.5  33  28    82500.0