In [1]:
import pandas as pd

print("Pandas успешно импортирован!")

Pandas успешно импортирован!

In [3]:
data = {
    "district": ["Central", "North", "East", "South", "West"],
    "pm25": [42, 35, 50, 28, 33],
    "population": [120000, 90000, 150000, 80000, 70000]
}

df = pd.DataFrame(data)
df

  district  pm25  population
0  Central    42      120000
1    North    35       90000
2     East    50      150000
3    South    28       80000
4     West    33       70000

In [4]:
df.head()        # первые строки
df.info()        # структура таблицы
df.describe()    # статистика

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   district    5 non-null      object
 1   pm25        5 non-null      int64
 2   population  5 non-null      int64
dtypes: int64(2), object(1)
memory usage: 248.0+ bytes

            pm25     population
count   5.000000       5.000000
mean   37.600000  102000.000000
std     8.561542   32710.854468
min    28.000000   70000.000000
25%    33.000000   80000.000000
50%    35.000000   90000.000000
75%    42.000000  120000.000000
max    50.000000  150000.000000

In [5]:
df["pm25"]

0    42
1    35
2    50
3    28
4    33
Name: pm25, dtype: int64

In [6]:
df[df["pm25"] > 40]

  district  pm25  population
0  Central    42      120000
2     East    50      150000

In [7]:
df["pm25_per_1000"] = df["pm25"] / (df["population"] / 1000)
df

  district  pm25  population  pm25_per_1000
0  Central    42      120000       0.350000
1    North    35       90000       0.388889
2     East    50      150000       0.333333
3    South    28       80000       0.350000
4     West    33       70000       0.471429