In [1]:
import pandas as pd

data = {
    "district": ["Central", "North", "East", "South", "West", "East"],
    "pm25": [42, 35, 50, 28, None, 52],
    "population": [120000, 90000, 150000, 80000, 70000, 150000]
}

df = pd.DataFrame(data)
df.to_csv("air_quality.csv", index=False)

df

  district  pm25  population
0  Central  42.0      120000
1    North  35.0       90000
2     East  50.0      150000
3    South  28.0       80000
4     West   NaN       70000
5     East  52.0      150000

In [2]:
df = pd.read_csv("air_quality.csv")
df

  district  pm25  population
0  Central  42.0      120000
1    North  35.0       90000
2     East  50.0      150000
3    South  28.0       80000
4     West   NaN       70000
5     East  52.0      150000

In [3]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   district    6 non-null      object
 1   pm25        5 non-null      float64
 2   population  6 non-null      int64
dtypes: float64(1), int64(1), object(1)
memory usage: 272.0+ bytes

            pm25     population
count   5.000000       6.000000
mean   41.400000  110000.000000
std    10.089599   35213.633723
min    28.000000   70000.000000
25%    35.000000   82500.000000
50%    42.000000  105000.000000
75%    50.000000  142500.000000
max    52.000000  150000.000000

In [4]:
df.isna().sum()

district      0
pm25          1
population    0
dtype: int64

In [5]:
df_clean = df.dropna()
df_clean

  district  pm25  population
0  Central  42.0      120000
1    North  35.0       90000
2     East  50.0      150000
3    South  28.0       80000
5     East  52.0      150000

In [6]:
df_clean[df_clean["pm25"] > 40]

  district  pm25  population
0  Central  42.0      120000
2     East  50.0      150000
5     East  52.0      150000

In [7]:
df_clean.sort_values("pm25", ascending=False)

  district  pm25  population
5     East  52.0      150000
2     East  50.0      150000
0  Central  42.0      120000
1    North  35.0       90000
3    South  28.0       80000

In [8]:
df_clean["pm25_per_1000"] = df_clean["pm25"] / (df_clean["population"] / 1000)
df_clean

C:\Users\X\AppData\Local\Temp\ipykernel_5768\3717287239.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean["pm25_per_1000"] = df_clean["pm25"] / (df_clean["population"] / 1000)

  district  pm25  population  pm25_per_1000
0  Central  42.0      120000       0.350000
1    North  35.0       90000       0.388889
2     East  50.0      150000       0.333333
3    South  28.0       80000       0.350000
5     East  52.0      150000       0.346667

In [9]:
df_clean.to_csv("air_quality_clean.csv", index=False)